# Ignorar toda la configuración del IDE
.idea/
*.iml

# Ignorar archivos generados por el sistema y compilación
.gradle/
/build/
/captures/
.cxx/
.externalNativeBuild/

# Archivos locales con rutas de tu PC (MUY IMPORTANTE)
local.properties

# Archivos de sistema
.DS_Store